@CHARSET "ISO-8859-1";

html {
background-color: #A2E9FF;
margin: 0;
padding:0;
}


body {
margin: 0;
padding:0;
width: 100%;
min-width: 1000px;
}

.userConnectionsContainter {
height: 473px;
box-shadow:0 .25em 1em rgba(0,0,0,.35);
}

.userConnections {
overflow-y: scroll; 
height: 423px; 
bottom: 0px;
background-color: #f4f4f4;
}


.well{
 width: 850px;  
 display: block;
 float: right;
 padding: 10px;
 height:100%;
 border-radius: 6px;
 background-color: #f4f4f4;
 border: solid 1px;
 border-color: #bdbdbd;
box-shadow:0 .25em 1em rgba(0,0,0,.35);
}





.user {
margin: 7px; 
border-radius: 6px; 
height: 12%;
background: #ebecf9; 
border: solid 1px;
border-color: #bdbdbd;
}

.user:hover{
background-color: #f5f8f9!important;
}

.user:active {
color: #e6e8ff;
} 




.searchLink {
color: #BF0000;
}
.searchLink:hover {
color: #FF4C4C!important;
}







